body {
  display: flex;
  flex-direction: column;
  flex: 1;

  background: #00000000;
}

#root {
  height: inherit;
  width: inherit;
  display: flex;
  padding: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}
